#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'KoHo', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
h2{
  font-family: 'KoHo', sans-serif;
  font-size: 4rem;
  line-height: 1.3;
  font-weight:bold;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight:bold;
}
p{
  color: #8f8f8f;
}

/* navigation bar */


.container-fluid {
  padding: 3% 5%;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 2.5rem;
}


.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.5rem;
  font-family: "Montserrat-Light 300"
}
.download-btn{
  margin: 5% 3% 5% 0;
}
.menu-bars{
  margin-right: 100px
}
 /* features */

 #features{
   padding: 7% 15%;
 }
.features-bok{
  padding: 7%;
  text-align: center;
}
.you{
  text-decoration:underline;
}
.icon-c{
  color: #ef8181;
  margin-bottom: 1rem;
}
.icon-c:hover{
  color: #ff4c68;
}

/* testimonials */
#testimonials{
  text-align: center;
  background-color: #ef8181;
}
.feadback{
  width: 25%;
  border-radius: 100%;
}
.carousel-item{
  padding: 7% 15%;
}
.testimonial-text{
  color: #fff;
}
.feed{
  font-size: 25px;
}
/* press */

#press{
  background-color:#ef8181;
  text-align: center;
}
.press-img{
  padding: 20px 20px 50px;
  width: 15%;
}

/* pricing */

#pricing{
  padding: 100px;
}

.head-pricing{
  text-align: center;
}
.button-Pricing{
  margin: 1px 15px 20px 15px;
}
.collum-ped{
  padding: 3% 2%;
  }

/* Call to Action */
#cta{
  background-color: #ff4c68;
  text-align: center;
  /* padding: 3%; */
}
.action{
  margin: 3% 1%;
}
.footer-one{
  font-family: 'KoHo', sans-serif;
  font-size: 3rem;
  line-height: 1;
  margin: 1px 300px 1px 300px;
  color: #fff;
}

/* footer section */

#footer{
  text-align: center;
  background-color: #fff;
}
.social-icon{
  margin: 10px;
}
